@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* user form
.form-title
	display: block
	+font-alt-bold
	+font($font-size-h2, $line-height-h2)
	color: $title-color
	text-align: center
	margin-bottom: $bottom-space--md

.user-form
	background: $bg-color-alt
	+padding-vertical($text-layout-space)
	margin-bottom: $bottom-space
	border: solid $border-color
	border-width: 1px 0

	&:last-child
		margin-bottom: 0

	+media('<tab-lg')
		+padding-vertical($text-layout-space--md)

	+media('<mob-lg')
		+padding-vertical($text-layout-space--sm)

	form
		display: block

	.input-wrap
		margin-bottom: 50px

	textarea
		height: 130px
		max-height: 130px
		resize: none

	.captcha
		+display-inline-block-top
		+clear-spacing
		position: relative // Важно! Для позицирования отметки подтверждения полей формы
		z-index: 1 // Важно! Отметка подтверждения полей формы имеет z-index: -1

		+clear

		img
			$margin-right: 20px
			display: inline-block
			vertical-align: middle
			max-width: calc(50%)
			margin-right: $margin-right

			& + input
				display: inline-block
				vertical-align: middle
				width: 200px

		+media('<tab-lg')
			img
				display: block
				max-width: none
				margin-bottom: $bottom-space--sm

				& + input
					display: block
					max-width: none
					width: 100%

	.form-footer
		+clear

		+media('<mob-lg')
			padding-top: $bottom-space--sm

	.form-buttons
		float: left
		margin-right: 30px

		+media('<mob-lg')
			float: none
			margin: 0

		.btn-submit
			width: 200px

	.form-note
		overflow: hidden
		min-height: 50px
		+clear-spacing
		line-height: 25px

		&::before
			content: ''
			display: inline-block
			vertical-align: middle
			min-height: inherit

	.form-note__item
		display: inline-block
		vertical-align: middle
		width: calc(100% - 6px)
		+font($font-size--sm, $line-height--sm)
		letter-spacing: normal

/* user form end

/* slick sliders
// slider
.slick-slide
	&, & a
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important
		-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important
		outline: none !important

// arrows
.slick-arrow
	+size(60px, 100%)
	display: block
	position: absolute
	border: none
	border-radius: 0
	background: none
	outline: none
	box-shadow: none
	opacity: 1
	z-index: 6
	transition:
		property: background, opacity, visibility
		duration: 0.2s

	.no-touchevents &:hover
		opacity: 1
		background: rgba(195, 195, 195, 0.2)

	&.slick-disabled, .no-touchevents &.slick-disabled
		opacity: 0.25
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25)
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25)
		cursor: default

		&::before
			opacity: 1

	&::before
		content: none

	&::after
		top: 50%
		content: ""
		position: absolute
		opacity: 1
		pointer-events: none
		+size(30px)
		transform: rotate(45deg)
		border: 0 solid #999

.slick-prev
	left: 0

	&::after
		left: 50%
		border-width: 0 0 3px 3px
		margin: -15px -10px

.slick-next
	right: 0

	&::after
		right: 50%
		border-width: 3px 3px 0 0
		margin: -15px -10px

// dots
.slick-dots
	margin: 0
	line-height: 0
	visibility: hidden

	.#{$user-content} &
		margin: 0
		max-width: none

	li
		vertical-align: top
		width: auto
		height: auto
		margin: 0

		&, .#{$user-content} &
			padding: 5px 15px
			margin: 0

			&::before
				content: none

		button
			width: 12px
			height: 12px
			padding: 0
			border-radius: 0
			background: $base-color
			position: relative
			transition:
				property: background, border, box-shadow, transform
				duration: 0.6s
			visibility: visible

			&::before
				content: ''
				position: absolute
				left: 0
				top: 0
				height: 100%
				width: 100%
				background: #fff
				border-radius: 0
				opacity: 1
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.20)
				transition:
					property: transform, opacity
					duration: $animation-speed

		&.slick-active button::before
			opacity: 0

//.no-touchevents &:hover button::before
/* slick sliders end

/* swiper slider & default arrows
.swiper-button-prev, .swiper-button-next, .def-arrows--prev, .def-arrows--next
	overflow: hidden
	text-indent: -9999px
	+size(60px, 100%)
	top: 0
	margin-top: 0
	will-change: transform
	//background: rgba(255, 127, 80, 0.51) // для тестирования, чтобы видеть контуры кнопки
	background: none

	&::after
		top: 50%
		content: ""
		display: block
		position: absolute
		opacity: 1
		pointer-events: none
		+size(30px)
		transform: rotate(45deg)
		border: 0 solid #999

.swiper-button-prev, .def-arrows--prev
	left: 0

	&::after
		left: 50%
		border-width: 0 0 3px 3px
		margin: -15px -10px

.swiper-button-next, .def-arrows--next
	right: 0

	&::after
		right: 50%
		border-width: 3px 3px 0 0
		margin: -15px -10px

// hover & disabled
.swiper-button-prev, .swiper-button-next

	// hover
	&:not(.swiper-button-disabled):hover
		opacity: 1
		background: rgba(195, 195, 195, 0.2)

	// disabled
	&.swiper-button-disabled
		pointer-events: auto
// no js
.no-js
	.swiper-slide
		flex-shrink: 1
		display: inline-block
		vertical-align: top
		width: 320px

	.swiper-button-prev, .swiper-button-next, .def-arrows--prev, .def-arrows--next
		display: none

/* swiper slider end

/* images slider
.images-slider
	position: relative
	margin-bottom: $bottom-space

	+media('<tab-lg')
		margin-bottom: $bottom-space--lg

.images-slider__list, .slick-dotted.images-slider__list
	padding-bottom: $bottom-space
	margin-bottom: 0
	position: relative
	z-index: 2

.images-slider__item
	float: none
	display: inline-block
	vertical-align: top
	opacity: 0
	white-space: normal
	overflow: hidden
	position: relative
	background-color: transparent

	.slick-initialized &
		display: block
		float: left
		opacity: 1

	.no-js &
		display: block
		width: 100%
		opacity: 1
		margin-bottom: $bottom-space

	&::before
		content: ''
		display: block
		+ratio(16, 9)

		.no-js &
			content: none

	img
		position: absolute
		+position(0)
		text-align: center
		max-width: none
		width: 100%
		height: 100%
		+object-fit(contain)

		.no-js &[data-lazy]
			display: none

		.no-js &
			position: relative
			+position(auto)
			width: auto
			height: auto
			+object-fit(fill)
			margin-bottom: 1rem

	.caption
		display: none

		.no-js &
			display: block

.images-slider

	.slick-arrow
		right: 0
		left: auto
		top: 100%
		transform: translate(0, 0)

	.slick-prev
		right: 40px

	// slider counter
	.slider-counter
		position: absolute
		left: 0
		top: 100%
		color: $text-color-light

		.slide-curr
			color: $text-color

	.slick-dots, .#{$user-content} & .slick-dots
		position: absolute
		bottom: $bottom-space + 1

		li
			+padding-horizontal(7px)

			button
				width: 6px
				height: 6px
				border-radius: 50%
				background-color: white
				opacity: 0.5
				transition:
					property: opacity, transform
					duration: $animation-speed

				&::before
					content: none

			&.slick-active button
				opacity: 1

			.no-touchevents &:hover button
				opacity: 1
				transform: scale(2)

/* images slider end

/* flashes
.flashes
	padding: 0 90px

.flashes__item, .images-slider__item .caption
	+font(1.4rem, 1.5)
	color: $text-color-light

	& > *:last-child
		margin-bottom: 0

/* flashes end

/* promo slider
// slider
.promo-slider__list
	// before slide load
	white-space: nowrap
	overflow: hidden
	// before slide load end

	&, &.slick-dotted
		margin: 0

	&.slick-initialized, .no-js &
		// after slide load
		white-space: normal
		overflow: visible
		// after slide load end

// slide
.promo-slider__item
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	// before slide load end

	.slick-initialized &
		// after slide load
		float: left
		display: block
		// after slide load end

	img
		display: block
		margin: 0 auto

.promo-slider__list

	// dots
	.slick-dots
		bottom: 20px

/* promo slider end

/* partners slider
// slider
.partners-slider__list
	// before slide load
	white-space: nowrap
	overflow: hidden
	// before slide load end

	&, &.slick-dotted
		margin: 0

	&.slick-initialized, .no-js &
		// after slide load
		white-space: normal
		overflow: visible
		// after slide load end

// slide
.partners-slider__item
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	// before slide load end

	.slick-initialized &
		// after slide load
		float: left
		display: block
		// after slide load end

.partners-slider__inner
	text-decoration: none
	color: inherit
	height: 150px
	display: flex
	align-items: center
	+padding-horizontal(1rem)

	img
		display: block
		margin: 0 auto
		filter: grayscale(1)
		transition:
			property: filter
			duration: $animation-speed

	// hover
	&:hover
		img
			filter: grayscale(0)

.partners-slider__list

	// dots
	.slick-dots
		bottom: 20px

/* partners slider end

.main-section
	position: relative
	margin-bottom: 1rem

	&:last-child
		margin-bottom: 8rem

.main-section__title
	text-align: center
	margin-bottom: 3rem

	h1, h2, h3
		+font-alt-medium
		+font(3.0rem, round-float(36/30, 2))
		letter-spacing: 0.1em
		text-align: center
		text-transform: uppercase
		margin-bottom: 0

// main-section--partners
.main-section--partners
	margin-bottom: 2rem

// main-section--new
.main-section--new
	margin-bottom: 6rem

// main-section--similar
.main-section--similar
	margin-bottom: 2rem

// main-section--club
.main-section--club
	margin-bottom: 6rem

/* jFiler
.upload-file
	opacity: 0

.jFiler
	position: relative

.jFiler-input-dragDrop
	margin: 0
	cursor: pointer
	padding: 20px
	background: $bg-color-alt
	border: 1px dashed $border-color

	.no-touchevents &:hover
		border-color: $form-border-focus-color

	&.dragged .jFiler-input-icon i
		transform: translate(0, -8px)

	.jFiler-input-icon
		margin-top: 0
		margin-bottom: 15px
		text-align: center

		i
			display: inline-block
			vertical-align: top
			background: url(../../img/attach.png) no-repeat
			background-size: contain
			+size(60px, 44px)
			transition:
				property: background-color, border-color, transform
				duration: $animation-speed

	.jFiler-input-text strong
		display: block
		+font-regular
		+font($font-size--less, $line-height--less)
		color: $text-color
		text-align: center

.jFiler-items
	//margin: #{$form-bottom-space} 0 0
	margin: 50px 0 0

.jFiler-items-list, .#{$user-content} .jFiler-items-list
	margin: #{$bottom-space--sm} 0

	li
		padding-left: 0

		&::before
			content: none

.jFiler-item
	margin: #{$bottom-space--sm} 0
	+font($font-size--sm, $line-height--sm)
	color: $text-color
	overflow: hidden

.jFiler-item-icon
	display: none

.jFiler-item-title
	display: inline-block
	vertical-align: top
	+font-bold
	margin-right: 10px

.jFiler-item-others
	display: inline-block
	vertical-align: top
	color: $text-color-light
	position: relative

	&::after
		content: ''
		position: absolute
		left: 100%
		bottom: 0
		+size(999px, 0)
		border-bottom: 1px dotted $border-color
		margin: 0 0 3px

	span
		padding-right: 5px

.jFiler-item-assets
	position: absolute
	right: 0
	bottom: 0

.jFiler-item-assets ul,
.#{$user-content} ul .jFiler-item-assets ul
	margin: 0

	li
		margin: 0
		padding: 0 0 3px 8px !important
		background: $bg-color-alt

.jFiler-item-trash-action
	display: block
	position: relative
	+size(20px)
	z-index: 2
	cursor: pointer
	background-color: $text-color

	&::before, &::after
		content: ''
		position: absolute
		left: 50%
		top: 50%
		+size(16px, 2px)
		border-radius: 2px
		background: white
		margin: -1px 0 0 -8px

	&::before
		transform: rotate(-45deg)

	&::after
		transform: rotate(45deg)

	.no-touchevents &:hover::before,
	.no-touchevents &:hover::after
		background-color: $base-color

/* jFiler end

/* breadcrumbs
.breadcrumbs
	color: $text-color-light
	margin-bottom: $bottom-space--lg

	+media('<desk-lg')
		margin-bottom: $bottom-space--ml

	&:last-child
		margin-bottom: 0

.breadcrumbs__list
	&, .#{$user-content} &
		padding: 0
		margin: 0
		list-style: none

		li
			padding: 0 6px 0 0
			margin: 0

			&::before, &:first-child::before
				content: none

	cursor: default
	overflow: hidden
	+font($font-size--sm, $line-height--sm)

	.layout-article &
		max-width: none

	li
		display: inline
		position: relative

		&::after
			display: inline-block
			vertical-align: baseline
			content: '•'
			border: none
			color: $base-color
			padding-left: 10px

		&:last-child::after
			content: none

	a
		padding-top: 0.5em
		color: $text-color
		text-decoration: none
		cursor: pointer

		span
			border-bottom: 1px solid rgba(white, 0.3)

		.no-touchevents &:hover
			color: $base-color

			span
				border-color: rgba($base-color, 0.3)

/* breadcrumbs end

/* files links
.file
	$file-icon-size: 42px
	+display-inline-block-top
	min-height: $file-icon-size
	padding: 0.5em
	+font(16px, 20px)
	color: $text-color
	text-decoration: none

	+clear

	svg
		float: left
		+size($file-icon-size)


	& > span, & > em
		display: block
		margin-left: #{$file-icon-size}
		padding-left: 1em

	& > em
		display: block
		font-size: 1.4rem
		color: $text-color-light

	.no-touchevents &:hover
		background-color: $base-color

		& > em
			color: $bg-color-base

.st-bg
	fill: #e2e5e7

.st-corner
	fill: #b0b7bd

.st-shadow
	fill: #cad1d8

.st-text
	fill: #fff

/* files links end

/* feature list
.feature-list
	margin-bottom: $bottom-space--md

	&:last-child
		margin-bottom: 0

.feature-list__item
	margin-bottom: $bottom-space
	+clear

	&:last-child
		margin-bottom: 0

.feature-list__img
	float: left
	width: 25%
	margin: 0.3em $bottom-space $bottom-space--sm 0

	+media("<mob-lg")
		width: auto
		float: none
		margin-right: 0

.feature-list__content
	overflow: hidden

	h3, p
		margin-bottom: $bottom-space--sm

		&:last-child
			margin-bottom: 0

/* feature list end

/*social networks
.social-networks
	margin-bottom: $bottom-space
	+clear

	&:last-child
		margin-bottom: 0

	.footer &
		text-align: center

.social-networks__list
	position: relative
	display: inline-block
	vertical-align: top
	+font(14px, 1.5)
	letter-spacing: normal
	margin: 0 -5px -10px

.social-networks__item
	float: left
	margin: 0 5px 10px

	a
		display: block
		position: relative
		+size(50px)
		border-radius: 50%
		background: #999
		color: white

		span
			+hide-text

		svg
			+centering-transform-abs
			+size(20px)

		path
			fill: currentColor

		.no-touchevents &:hover
			&.fb
				background-color: $facebook-color

			&.vk
				background-color: $vkontakte-color
			&.twitter
				background-color: $twitter-color

			&.ok
				background-color: $odnoklassniki-color

			&.youtube
				background-color: $youtube-color

			&.instagram
				//+linear-gradient(to right, #{$instagram-color-start} 0%, #{$instagram-color-end} 100%)
				background-color: $instagram-color-end

/*social networks end

/* ms-drop
.ms-drop__drop-js
	opacity: 0
	visibility: hidden

	.is-open &
		opacity: 1
		visibility: visible

/* ms-drop end

/* main-banners
.main-banners
	max-width: 1600px
	margin: 0 auto

.main-banners__list
	position: relative

	&::before
		content: ""
		display: block

.main-banners__list__holder
	position: absolute
	left: 0
	top: 0
	height: 100%
	width: 100%
	+clear-spacing

.main-banners__item
	display: inline-block
	vertical-align: top
	height: 100%
	font-size: $font-size
	letter-spacing: normal

.main-banners__inner
	display: block
	position: relative
	height: 100%
	color: inherit
	text-decoration: none
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	background-color: #000

	img
		display: block
		width: 100%
		height: 100%
		max-width: none
		+object-fit(cover)
		will-change: opacity
		transition:
			property: opacity
			duration: $animation-speed

	// hover
	&:hover
		img
			opacity: 0.85

.main-banners__list
	&:nth-child(1)
		&::before
			+ratio(1600, 616)

		.main-banners__item
			&:nth-child(1)
				width: round-float(nth($main-banners-ratio, 1), 2)

			&:nth-child(2)
				width: round-float(nth($main-banners-ratio, 2), 2)

/* main-banners end

/* new
.new
	position: relative
	max-width: 1600px
	margin: 0 auto

.new__list
	position: relative

	&::before
		content: ""
		display: block

.new__list__holder
	position: absolute
	left: 0
	top: 0
	height: 100%
	width: calc(100% + #{$new-space})
	margin: 0 -#{round($new-space/2)}
	+clear-spacing

.new__item
	display: inline-block
	vertical-align: top
	height: 100%
	padding: 0 #{round($new-space/2)} $new-space
	font-size: $font-size
	letter-spacing: normal

.new__inner
	display: block
	position: relative
	height: 100%
	color: inherit
	text-decoration: none
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	background-color: #000

	img
		display: block
		width: 100%
		height: 100%
		max-width: none
		+object-fit(cover)
		will-change: opacity
		transition:
			property: opacity
			duration: $animation-speed

	// hover
	&:hover
		img
			opacity: 0.85

.new__list
	&:nth-child(1)
		&::before
			+ratio(1600, 616)

		.new__item
			&:nth-child(1)
				width: round-float(nth($new-ratio, 1), 2)

			&:nth-child(2)
				width: round-float(nth($new-ratio, 2), 2)

	&:nth-child(2)
		&::before
			+ratio(1600, 496)

		.new__item
			&:nth-child(1)
				width: round-float(nth($new-ratio, 3), 2)

			&:nth-child(2)
				width: round-float(nth($new-ratio, 4), 2)

/* new end

/* subscribe-from
.subscribe-from-wrap
	display: flex
	align-items: center

.subscribe-from
	width: 456 + $grid-space*2
	max-width: 100%
	padding: $grid-space
	margin: auto

	.input-wrap
		margin-bottom: 1rem

	input[type="text"], input[type="email"]
		border: none
		background-color: white
		+font-bold
		font-size: 14px
		line-height: 20px
		letter-spacing: 0.1em
		text-transform: uppercase
		color: $text-color
		height: 50px
		padding: 15px 20px 15px 60px
		box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25)

		+placeholder
			color: #999

	.input-holder
		svg
			display: block
			position: absolute
			+size(20px)
			left: 20px
			top: 50%
			margin-top: -10px
			pointer-events: none

			path
				fill: #999

	.form-footer
		.btn-submit
			display: block
			width: 100%
			+font-bold
			+font(1.4rem, round-float(20/14, 2))
			padding: 1.5rem 1rem
			letter-spacing: 0.1em
			text-transform: uppercase
			color: white
			text-align: center
			border: none
			box-shadow: 0 3px 7px rgba(0, 0, 0, 0.25)
			background-color: $base-color

			& > span
				display: inline-block
				position: relative

			&::before
				content: ""
				display: block
				position: absolute
				+size(100%)
				left: 0
				top: 0
				background-color: #1a1a1a
				opacity: 0
				will-change: opacity
				transition:
					property: opacity
					duration: $animation-speed

			// hover
			&:hover
				&::before
					opacity: 1

/* subscribe-from end

/* products preview
.products__inner
	position: relative
	z-index: 1

.products__animation-wrap
	position: relative
	+ratio(338, 389)
	will-change: margin, transform
	transition:
		property: transform, margin
		duration: $animation-speed

.products__align
	position: absolute
	left: 0
	top: 0
	width: 100%
	box-shadow: inset 0 0 0 nth($products-inner-space, 2) #fff, inset 0 -60px 0 #fff, inset 0 60px 0 #fff

.product__shadow
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	z-index: -1
	box-shadow: 0 0 #{$products-shade-size} rgba(0, 0, 0, 0.2)
	pointer-events: none
	will-change: opacity
	opacity: 0
	transition:
		property: opacity
		duration: $animation-speed

.products__inset
	display: block
	position: relative
	text-decoration: none
	color: inherit

.products__spacer
	position: relative
	+ratio(338, 389)

	// Если блок не нужно масштабировать пропорционально
	//min-height: 389px
	//height: 100%

// фото продукта выносим за пределы блока,
// который увеличивается на ховер,
// потому что, если изображение находится внутри,
// то при увеличении оно дергается
.products__visual-wrap
	position: absolute
	left: 0
	top: 0
	width: 100%

.products__visual
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	padding: nth($products-inner-space, 1)+40 nth($products-inner-space, 2)

.products__figure
	display: block
	position: relative
	max-width: 290px // ограничиваем ширину изображения продукта
	height: 100%
	+push-auto
	text-decoration: none
	color: inherit

	//&::before
		+pseudo-block-relative()
		+ratio(338, 389)

.products__img
	+cover-abs()
	transition:
		property: width, height, top, left
		duration: $animation-speed
		timing-function: ease-in-out

	.no-image &
		background: url(../../img/empty.png) no-repeat center

	img
		display: block
		width: 100%
		height: 100%
		max-width: none
		+object-fit(scale-down)

// info
.products__info
	position: absolute
	left: nth($products-inner-space, 2)
	bottom: nth($products-inner-space, 1)
	min-height: 30px
	line-height: 1

.products__info__brand
	+font-bold
	+font(1.3rem, round-float(16/13, 2))

.products__info__model
	+font-regular
	+font(1.2rem, round-float(14/12, 2))
	text-transform: uppercase

// price
.products__price
	position: absolute
	right: nth($products-inner-space, 2)
	bottom: nth($products-inner-space, 1)
	margin-bottom: -8px
	min-height: 38px
	text-align: right
	line-height: 1

.products__price__share
	white-space: nowrap

.products__price__old
	+display-inline-block-top
	+font(1.3rem, round-float(16/13, 2))
	color: #666
	text-decoration: line-through
	margin-right: 5px

.products__price__old__val
	+font-bold

.products__price__old__unit
	+font-bold

.products__price__sale
	+display-inline-block-top
	position: relative
	padding: 0 0.5rem 0 1.1rem
	min-width: 34px
	+font-bold
	+font(1.0rem, round-float(16/10, 2))
	color: white
	background: #fff url(../../img/bg-sale.png) no-repeat
	background-size: 100% 100%

	&::before
		content: ""
		display: block
		position: absolute
		left: 0.4rem
		top: 50%
		margin-top: -1px
		+size(2px)
		background-color: currentColor

.products__price__cur
	+font-bold
	+font(18px, 22px)

.products__price__cur__unit
	font-size: 14px

// likes
.products__likes
	display: inline-block
	position: absolute
	right: nth($products-inner-space, 2)
	top: nth($products-inner-space, 1)
	overflow: hidden
	width: 25px
	height: 23px
	background: url(../../img/like.png) no-repeat
	text-indent: -9999px

	&:hover
		background-position: 0 -43px

	&.active
		background-position: 0 -86px

// labels
.products__labels
	position: absolute
	left: -14px
	top: nth($products-inner-space, 1)
	will-change: opacity, transfrom
	//opacity: 0
	transform: translate(#{nth($products-inner-space, 2)+nth($products-outer-space, 2)}, 0)
	transform: translate3d(#{nth($products-inner-space, 2)+nth($products-outer-space, 2)}, 0, 0)
	transition:
		property: opacity, transfrom
		duration: 0.5s

	.slick-active &
		transform: translate(0, 0)
		transform: translate3d(0, 0, 0)
		//opacity: 1

.products__label
	position: relative
	margin-bottom: 16px
	height: 25px
	min-width: 82px
	+padding-horizontal(10px)
	+font-bold
	+font(14px, 25px)
	text-align: center
	text-transform: uppercase
	color: #fff
	background-color: #f70106

	&::before
		content: ""
		display: block
		position: absolute
		left: 0
		top: 100%
		+size(0)
		border: solid transparent
		border-width: 10px 0 0 14px
		border-top-color: #880002

.products__label--sale
	background-color: #f70106

.products__label--hit
	background-color: #ffa200

	&::before
		border-top-color: #ff7903

// tags
.products__tags
	position: absolute
	right: 60px
	top: nth($products-inner-space, 1)
	+font(1.4rem)
	color: #666
	opacity: 0
	transition:
		property: opacity
		duration: $animation-speed

.products__tag
	white-space: nowrap

	i, span
		+display-inline-block-middle

	i
		padding-right: 5px

	span
		+truncate(140px)

// hover
.products__inner:hover
	z-index: 50

	.products__animation-wrap
		transform: translate(0, -$products-rang)
		transform: translate3d(0, -$products-rang, 0)
		margin-left: -$products-rang
		margin-right: -$products-rang

	.product__shadow
		opacity: 1

	.products__tags
		opacity: 1

	.products__img
		width: calc(100% + #{$products-rang*2})
		height: calc(100% + #{$products-rang*2})
		left: -#{$products-rang}
		top: -#{$products-rang}

/* products preview end

/* similar slider
// slider
.similar-slider
	+padding-horizontal(40px)

.similar-slider__list
	// before slide load
	white-space: nowrap
	overflow: hidden
	// before slide load end

	&, &.slick-dotted
		margin: 0

	&.slick-initialized, .no-js &
		// after slide load
		white-space: normal
		overflow: visible
		// after slide load end

	.slick-track
		margin: 0

	.slick-list
		//+padding-vertical(40px)
		padding: $products-rang+$products-shade-size

	.slick-prev
		left: -20px

	.slick-next
		right: -20px

// slide
.similar-slider__item
	// before slide load
	float: none
	display: inline-block
	vertical-align: top
	// before slide load end
	+padding-horizontal(10px)

	.no-js &
		width: 320px

	.slick-initialized &
		// after slide load
		float: left
		display: block
		// after slide load end

/* similar slider end

/* club
.club
	display: block
	text-decoration: none
	color: inherit
	margin: 0 auto
	width: 1386px
	max-width: 100%

/* club end

/* events-slider
.events-slider
	&.swiper-container
		+padding-vertical(nth($events-rang-size, 1)+$events-shade-size)

	// чтобы слайды не растягивало по высоте на 100%
	.swiper-wrapper
		align-items: flex-start

.events-slider-prev, .events-slider-next, .events-slider-pagination, .events-slider__content
	user-select: none

.events-slider__item
	position: static
	// чтобы не разваливалось до загрузки слайдера
	width: 320px

.events-slider__inner
	display: block
	position: relative
	text-decoration: none
	color: inherit
	+ratio(nth($events-size, 1), nth($events-size, 2))
	will-change: margin, transform
	transition:
		property: transform, margin
		duration: $animation-speed

.events-slider__figure
	position: absolute
	left: 0
	right: 0
	top: 0

.events-slider__img
	position: relative
	+ratio(nth($events-size, 1), nth($events-size, 2))

	&::before
		content: ""
		display: block
		position: absolute
		left: 2px
		top: 2px
		width: calc(100% - 4px)
		height: calc(100% - 4px)
		background-color: black

	img
		position: absolute
		left: 0
		top: 0
		display: block
		width: 100%
		height: 100%
		max-width: none
		+object-fit(cover)
		will-change: opacity
		transition:
			property: opacity
			duration: $animation-speed

.events-slider__shadow
	position: absolute
	left: -$events-inner-space
	top: -$events-inner-space
	width: calc(100% + #{$events-inner-space*2})
	height: calc(100% + #{$events-inner-space*2})
	z-index: -1
	background-color: #fff
	box-shadow: 0 0 #{$products-shade-size} rgba(0, 0, 0, 0.2)
	pointer-events: none
	will-change: opacity
	opacity: 0
	transition:
		property: opacity
		duration: $animation-speed

// hover
.events-slider__inner:hover
	.events-slider__img
		img
			opacity: 0.85

// active
.swiper-slide-active, .swiper-slide-duplicate-active
	.events-slider__inner
		transform: translate(0, -#{nth($events-rang-size, 1)})
		transform: translate3d(0, -#{nth($events-rang-size, 1)}, 0)
		margin-left: -#{nth($events-rang-size, 2)}
		margin-right: -#{nth($events-rang-size, 2)}
		z-index: 50

	.events-slider__shadow
		opacity: 1

/* events-slider