@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*shops view switcher
.shops-view-switcher
	position: absolute
	right: 10px
	top: 10px
	width: 68px
	height: 34px
	overflow: hidden
	box-sizing: border-box
	border: 1px solid #ccc
	border-radius: 5px
	display: none
	z-index: 10

	+media('<desk-md')
		display: block

	+media('<tab-lg')
		display: none

.shops-view-switcher a
	position: absolute
	top: 0
	right: 0
	width: 50%
	height: 100%
	overflow: hidden
	text-indent: -9999px
	background: url(../../img/depict-switcher-map-2x.png) no-repeat -33px 0
	-webkit-background-size: 66px
	background-size: 66px

.shops-view-switcher a.active
	background-color: #b0b0b0
	opacity: 0.4
	cursor: default

.shops-view-switcher a:first-child
	right: auto
	left: 0
	background-position: 0 0

/*shops view switcher end
/*shops result end

/*shops network
// layout
.shops
	overflow: hidden
	position: relative

	+media('<desk-md')
		padding-top: $shops-select-size

	+media('<tab-lg')
		overflow: visible

.shops-holder
	height: 745px

	+media('<desk-lg')
		height: 550px

	+media('<desk-md')
		width: 200%
		transform: translate(-50%, 0)
		transform: translate3d(-50%, 0, 0)
		$prop: transform, opacity
		will-change: $prop
		transition:
			property: $prop
			duration: $animation-speed
			timing-function: cubic-bezier(0.65, 0.05, 0.36, 1)

		.view-shops-active &
			transform: translate(0, 0)
			transform: translate3d(0, 0, 0)

	+media('<tab-lg')
		height: auto
		width: 100%
		transform: translate(0, 0)
		transform: translate3d(0, 0, 0)

/* shops-map
.shops-map
	position: relative
	float: right
	height: 100%
	width: calc(100% - #{nth($shops-aside-size, 1)})
	background: #f3f3f3

	+media('<desk-md')
		width: 50%

	+media('<tab-lg')
		height: 348px

/* shops-map

/* shops-aside
/* shops-aside layout
.shops-aside
	position: relative
	float: left
	height: 100%
	width: nth($shops-aside-size, 1)
	background: #fff
	border: solid $border-color
	border-width: 0 1px 0 0

	+media('<desk-md')
		width: 50%

	+media('<tab-lg')
		height: auto
		width: 100%
		float: none
		margin: 0

.shops-aside-frame
	height: calc(100% - #{nth($shops-select-size, 2)})
	overflow: hidden
	position: relative
	border: solid $border-color
	border-width: 1px 0

	+media('<tab-lg')
		overflow: visible

.shops-aside-holder
	height: 100%
	overflow: auto
	position: relative

	+media('<tab-lg')
		overflow: visible

.shops-aside-group
	display: none

	&.is-show
		display: block

/* shops-aside layout end

/* select city
.select-city
	height: nth($shops-select-size, 2)
	padding: 15px 20px 0

/* select city end

/* shapes for scroll area
[class*="shadow-tape-"],
[class^="shadow-tape-"]
	$shadow-color: white
	//===============
	position: absolute
	left: 0
	right: 0
	z-index: 1
	height: 20px
	pointer-events: none
	will-change: opacity
	transition:
		property: opacity
		duration: $animation-speed

	&.shadow-tape-top
		+linear-gradient(to bottom, rgba($shadow-color, 1) 0%, rgba($shadow-color, 0.5) 75%, rgba($shadow-color, 0) 100%)
		opacity: 0
		top: 0

		.show-shadow &
			opacity: 1

	&.shadow-tape-bottom
		+linear-gradient(to bottom, rgba($shadow-color, 0) 0%, rgba($shadow-color, 0.5) 25%, rgba($shadow-color, 1) 100%)
		bottom: 0

/* shapes for scroll area

/* shops-item
.shops-item
	padding: $nav-space
	border-top: 1px solid $border-color
	background: #fff
	will-change: transform

	+media('<mob-lg')
		padding: $nav-space--mob

	&.is-active
		background: $bg-color-alt

	&:first-child
		border-top: none

.shops-item__title
	+font-alt-bold
	+font(1.8rem, round-float(26/18, 2))
	padding: 0 0 12px

	a
		text-decoration: none
		color: inherit

		.no-touchevents &:hover
			color: $base-color

.shops-item__list, .shops-item__info
	color: #333
	margin-bottom: 1.5rem
	+font(1.4rem, round-float(18/14, 2))

	&:last-child
		margin-bottom: 0

.shops-item__list__item, .shops-item__info__item
	position: relative
	margin-bottom: 0.5em

	&:last-child
		margin-bottom: 0

	&.text-mark
		+font(1.2rem, round-float(18/12, 2))
		letter-spacing: 0.05em
		text-transform: uppercase
		color: $base-color

	svg
		$icon-size: 18px
		//=============
		display: block
		position: absolute
		left: 0
		top: 50%
		+size($icon-size)
		margin-top: -#{round($icon-size/2)}

		fill: currentColor

		& ~ span
			display: inline-block
			vertical-align: top
			margin-left: $icon-size+10

/* shops-item end

// сообщение, если не найдено никаких результатов
/* filter-no-item
.shops .filter-no-item
	position: absolute
	left: 30px
	top: 20px
	width: 500px
	padding: 26px 30px
	background: #fff
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4)
	box-sizing: border-box
	border: 2px solid #f00
	z-index: 999

/* filter-no-item end

// визуализации процесса поиска результатов
/* loader
.count-loader
	position: absolute
	left: 0
	top: 0
	width: 100%
	height: 100%
	z-index: 1
	background: rgba(255, 255, 255, 0.85) url(../../img/preloader.svg) no-repeat 50% 50%
	-webkit-background-size: 30px
	background-size: 30px

.no-svg .count-loader
	background-image: url(../../img/preloader.svg)

/* loader end

/*shops network end