@@include('_tpl_products-filters--DROP_LAYOUT.html', {"itemLayout": "START", "group": "@@group" })

		@@if (context.checkboxesExpanded) {
			@@for (var key in checkboxesExpanded) {
				<li>
					<label class="check-label">
						<input type="checkbox" name="`+key+`" data-filter-name="`+key+`" data-filter-tag="`+checkboxesExpanded[key].short+`" />
						<i>&nbsp;</i>
						<span class="p-filters-label-text-js">`+checkboxesExpanded[key].full+`</span>
					</label>
				</li>
			}
		}
		@@if (context.checkboxes) {
			@@for (var key in checkboxes) {
				<li>
					<label class="check-label">
						<input type="checkbox" name="`+key+`" data-filter-name="`+key+`" />
						<i>&nbsp;</i>
						<span class="p-filters-label-text-js">`+checkboxes[key]+`</span>
					</label>
				</li>
			}
		}

@@include('_tpl_products-filters--DROP_LAYOUT.html', {"itemLayout": "END"})
